html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;        
  background: black;   
  overflow: hidden;
  position: relative;
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;   
}